body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background: #1f2937;
    color: white;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

a{
    text-decoration:none;
    color: white;
}