*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    background: #1f2937;
    padding: 10px 150px 100px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;

}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #e5e7eb;
}

a{
    text-decoration:none;
    color: white;
}

.hero-banner{
    display: flex;
    justify-content: space-between;
}

.place-holder{
    display: flex;
    color: white;
    background: grey;
    align-items: center;
    justify-content: center;
    width: 500px;

 
}

.text-banner{
    display: flex;
    flex-direction: column;
    width: 375px;
    flex-wrap: wrap;
    gap: 10px;
}

.title-text{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.text{
    font: 18px;
    color: #e5e7eb;
}